In [86]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [87]:
df = sns.load_dataset('iris')
df

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [88]:
df['species'].unique()

array(['setosa', 'versicolor', 'virginica'], dtype=object)

In [89]:
df = df[df['species'] != 'setosa']

In [90]:
df.head()

    sepal_length  sepal_width  petal_length  petal_width     species
50           7.0          3.2           4.7          1.4  versicolor
51           6.4          3.2           4.5          1.5  versicolor
52           6.9          3.1           4.9          1.5  versicolor
53           5.5          2.3           4.0          1.3  versicolor
54           6.5          2.8           4.6          1.5  versicolor

In [91]:
df.isnull().sum()

sepal_length    0
sepal_width     0
petal_length    0
petal_width     0
species         0
dtype: int64

In [92]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 100 entries, 50 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  100 non-null    float64
 1   sepal_width   100 non-null    float64
 2   petal_length  100 non-null    float64
 3   petal_width   100 non-null    float64
 4   species       100 non-null    object
dtypes: float64(4), object(1)
memory usage: 4.7+ KB

In [93]:
df['species'] = df['species'].map({'versicolor':0, 'virginica':1})
df

C:\Users\Aadi Bhardwaj\AppData\Local\Temp\ipykernel_27304\657559317.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['species'] = df['species'].map({'versicolor':0, 'virginica':1})

     sepal_length  sepal_width  petal_length  petal_width  species
50            7.0          3.2           4.7          1.4        0
51            6.4          3.2           4.5          1.5        0
52            6.9          3.1           4.9          1.5        0
53            5.5          2.3           4.0          1.3        0
54            6.5          2.8           4.6          1.5        0
..            ...          ...           ...          ...      ...
145           6.7          3.0           5.2          2.3        1
146           6.3          2.5           5.0          1.9        1
147           6.5          3.0           5.2          2.0        1
148           6.2          3.4           5.4          2.3        1
149           5.9          3.0           5.1          1.8        1

[100 rows x 5 columns]

In [94]:
X = df.drop(columns='species')
Y = df['species']

In [95]:
from sklearn.model_selection import train_test_split

In [96]:
X_Train,X_Test, Y_Train,  Y_Test = train_test_split(X, Y, test_size=0.3, random_state=42)

In [97]:
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression()

In [98]:
classifier.fit(X_Train,Y_Train)

LogisticRegression()

In [99]:
print("train accuracy of logistic regression:", classifier.score(X_Train,Y_Train))
print("test accuracy of logistic regression:", classifier.score(X_Test,Y_Test))

train accuracy of logistic regression: 0.9714285714285714
test accuracy of logistic regression: 0.9333333333333333

In [100]:
from sklearn.svm import SVC
svc=SVC()
svc.fit(X_Train,Y_Train)
print("train accuracy of svc:", svc.score(X_Train,Y_Train))
print("test accuracy of svc:", svc.score(X_Test,Y_Test))

train accuracy of svc: 0.9714285714285714
test accuracy of svc: 0.9

In [101]:
from sklearn.neighbors import KNeighborsClassifier
knn=KNeighborsClassifier(n_neighbors=5)
knn.fit(X_Train,Y_Train)
print("train accuracy of knn:", knn.score(X_Train,Y_Train))
print("test accuracy of knn:", knn.score(X_Test,Y_Test))

train accuracy of knn: 0.9857142857142858
test accuracy of knn: 0.8333333333333334

In [102]:
from sklearn.naive_bayes import GaussianNB
nb=GaussianNB()
nb.fit(X_Train,Y_Train)
print("train accuracy of naive bayes:", nb.score(X_Train,Y_Train))
print("test accuracy of naive bayes:", nb.score(X_Test,Y_Test))

train accuracy of naive bayes: 0.9428571428571428
test accuracy of naive bayes: 0.9333333333333333